.masthead
  %h3.muted
    %font{:color=>'33aaff'} 
      ИП ПАРШУКОВ А.В., ЛИТЬЕ ИЗ ПОЛИПРОПИЛЕНА

.jumbotron{:align=>'center'}
  %h2 Уважаемые клиенты!
  %p.lead Мы приглашаем Вас к сотрудничеству! 
  %p.lead Заказ нашей продукции в любых количествах. Литье на Ваших пресс-формах. Возможно изготовление пресс-форм. 
  %p.lead Низкие цены. Кратчайшие сроки.

.row-fluid
  .span4
    %h2.page-header
      %font{:color=>'33aaff'} 
        Наша продукция:
    %ul
      %font{:face=>'coursive'}

        %li крепления для москитной сетки.
        %li нипель для обналичника пластиковых окон и дверей.
        %li подпятник квадратный
    %p
      %a.btn{:href=>"#"} Оформить заказ &raquo;
        btn{:onclick=>"linkto:/zakaz.html.haml"}


  .span4
    %h2.page-header
      %font{:color=>'33aaff'} 
        Дополнительно:
    %p
      %font{:face=>'coursive'}
        Материал: полипрепилен, полиэтилен низкого давления, полиэтилен высокого давления, полистирол.
    %p

  .span4
    %h2.page-header
      %font{:color=>'33aaff'} 
        Наши контакты:
    %ul
      %font{:face=>'coursive'}

        %li ИП Паршуков Андрей Владимирович
        %li e-mail: andrey.vrach@mail.ru
        %li тел. 89182475311
    %p 
      %a.btn{:href=>"mailto:andrey.vrach@mail.ru"} Написать письмо &raquo;
   
%hr


