.masthead
.color-back
  .img-rounded
    =image_tag('stanok.png', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok3.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok4.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok5.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok.png', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok3.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok4.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok5.jpg', :class => 'my_class', height: "100", width: "100")
    =image_tag('stanok.png', :class => 'my_class', height: "100", width: "100")
  
.text-center
  %br
  %br
  %h3 Уважаемые клиенты!
  %p.lead-my Мы приглашаем Вас к сотрудничеству! 
  %p.lead-my Заказ нашей продукции в любых количествах. Литье на Ваших пресс-формах. Возможно изготовление пресс-форм. 
  %p.lead-my Низкие цены. Кратчайшие сроки.

.row-fluid

  .span4
    %h2.page-header.blue
      Наша продукция:
    %ul
      %li крепления для москитной сетки.
      %li ниппель для обналичника пластиковых окон и дверей.
      %li подпятник квадратный
    %p
      = link_to 'Оформить заказ', new_order_path, :class => 'btn'

  .span4
    %h2.page-header.blue
      Дополнительно:
    %p
      Материал: полипрепилен, полиэтилен низкого давления, полиэтилен высокого давления, полистирол.
    %p

  .span4
    %h2.page-header.blue
      Наши контакты:
    %address
      %strong ИП Паршуков Андрей Владимирович
      %br
      <abbr title="Email">e-mail:</abbr> andrey.vrach@mail.ru
      %br
      <abbr title="Телефон">тел.:</abbr> 89182475311
    %p
      = mail_to 'andrey.vrach@mail.ru', 'Написать письмо', :class => 'btn'
   
%hr
