.masthead
  %h3.muted.blue
    ИП ПАРШУКОВ А.В., ЛИТЬЕ ИЗ ПОЛИПРОПИЛЕНА

.jumbotron.text-center
  %h2 Уважаемые клиенты!
  %p.lead Мы приглашаем Вас к сотрудничеству! 
  %p.lead Заказ нашей продукции в любых количествах. Литье на Ваших пресс-формах. Возможно изготовление пресс-форм. 
  %p.lead Низкие цены. Кратчайшие сроки.

.row-fluid
  .span4
    %h2.page-header.blue
      Наша продукция:
    %ul
      %li крепления для москитной сетки.
      %li нипель для обналичника пластиковых окон и дверей.
      %li подпятник квадратный
    %p
      = link_to 'Оформить заказ', new_order_path, :class => 'btn'

  .span4
    %h2.page-header.blue
      Дополнительно:
    %p
      Материал: полипрепилен, полиэтилен низкого давления, полиэтилен высокого давления, полистирол.
    %p

  .span4
    %h2.page-header.blue
      Наши контакты:
    %address
      %strong ИП Паршуков Андрей Владимирович
      %br
      <abbr title="Email">e-mail:</abbr> andrey.vrach@mail.ru
      %br
      <abbr title="Телефон">тел.:</abbr> 89182475311
    %p
      = mail_to 'andrey.vrach@mail.ru', 'Написать письмо', :class => 'btn'
   
%hr


